<form action="/resetPassword" method="POST">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

  <label for="username">Username:</label>
  <input type="text" name="username" required />

  <label for="oldPassword">Old Password:</label>
  <input type="password" name="oldPassword" required />

  <label for="newPassword">New Password:</label>
  <input type="password" name="newPassword" required />

  <% if (error) { %>
  <p style="color: red"><%= error %></p>
  <% } %>

  <button type="submit">Reset Password</button>
</form>
